
<li class="<%= cycle('odd','')%>">
  <div id='links'>
    votes: <%= link.votes.where(:up => true).count %>
    <%= link_to "↑", votes_path(:vote => {:link_id => link.id, :up => true}), :method => :post, remote: true %>
    <%= link_to link.title, link.url %>
  </div>
</li>

