// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
  text-align: center;
  color: #deb887;
}
.odd {
  background: rgba(0, 0, 0, 0.29)
}
#links {
  background: rgba(214, 178, 226, 0.46);
  text-align: center;
  font-size: 1.2em;
}
ul li{list-style: none; padding:10px 0;  clear:both; }