// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#short_url{
  font-size: 0.7em;
}
.notice{
  background-color: #ff3838
}
.odd {
  background: rgba(165, 165, 159, 0.27)
}
#links {
  background: rgba(244, 244, 234, 0.44);
  font-size: 1.1em;
}
#title{
  font-size: 0.97em;
  color: #8996a5;
  text-align: left;
}
#hn_score{
  background:#41F71A
}

ol {
  background-color: #f5f5eb;
}

span#vote {
  font-size: 0.4em;
  font-family: Courier;
}

a{
  color: #8ea8c0
}

a:hover {
  background-color: rgba(175, 156, 140, 0.42);
}
a:visited{
  color: rgba(246, 252, 255, 0.16);
}
span#vote {
  font-size: 0.8em;
  font-family: Verdana;
}

#points{
  font-size: 0.6em;
}

#submit_form{
  font-family: courier;
  text-align: center

}
