// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#short_url{
  font-size: 0.82em;
}

#links{
  position: relative; top: 4px;
  padding-left: 15em;
  margin-bottom:-3px;
}

#will_paginate{
 text-align: left;
 font-size: 0.8em;
}

.notice{
  background-color: #ff3838
}
.odd {
  background: rgba(254, 254, 254, 0.64)
}

#title{
  font-size: 13.4px;
  color: #a5470c;
}
#title_header:hover{
  background-color: rgba(176, 180, 168, 0.26);
}
#title_highlight a{
  color: rgba(246, 82, 0, 0.94);
}
#title_highlight a:hover{
  color: rgb(240, 2, 66);
}

#hn_score{
  background:#41F71A  ;
  font-family: courier;
  font-size:1em;
}

#normal_score{
  font-family: courier;
  color: #322e33
}

#hn_username{

  font-family: serif;
  padding-left: 2px;
}
#hn_username a {
  font-family: courier;
  color : rgba(109, 110, 119, 0.70)
}

ol {
  list-style-type: none;
}
li{
  list-style-type: lower-roman;
  list-style-type: circle;
  list-style-position:outside;
}

span#vote {
  font-size: 0.5em;
  font-family: Courier;
  color: rgba(255, 191, 62, 0.44);
  position: relative; top: -18px; right: 14px;
}

a{
  color: #000000;
  font-family:Verdana;
}

a:visited{
  color: rgba(200, 200, 200, 0.25);
}


#points{
  font-size: 0.5em;
  color: rgba(93, 81, 81, 0.80);
  position: relative; top: -7px;
  letter-spacing: 0.4px;
}

